<!DOCTYPE html>
<html>
    <head>

    </head>

    <body>
        <h1 class ="main heading">Mars Weather Data</h1>
        <div class="container">
            <fieldset>
                <form action="/" method="post">
                    
                </form>
            </fieldset>
        </div>
    </body>

</html>