<!DOCTYPE html>
<html>
    <head>

    </head>

    <body>
        <div class="container">
            <fieldset>
                <form action="/" method="post">
                    <label> Sol:</label><br>
                    <input type="text">
                    <input type="submit">
                </form>
            </fieldset>
        </div>
    </body>

</html>