<!DOCTYPE html>
<html>
    <head>
        <title>Mars Weather</title>
        <link href="/css/style.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
    </head>

    <body>
        <h1 class ="main-heading">What's the weather like on Mars?
            <style>
                h1 {
                    font-family: 'Courier New', Courier, monospace;
                    padding-top: 100px;
                }
            </style>
        </h1>
      <div class="container">
            <fieldset>
                <style>
                    fieldset {
                        border: 0;
                        margin-top: 20px;
                    }
                </style>
                <form action="/" method="post">
                    <input class="btn" type="submit" name="get-Data" value="Get Weather">
                    <% if(marsTemp !== null && marsTemp !== undefined){ %> 
                        <p><%= intro %></p><br>
                        <p><%= marsTemp %></p><br>
                        <p><%= marsWind %></p><br>
                        <p><%= marsPressure %></p>
                        <div class ="compass">
                            <span id="north">N</span>
                            <span id="east">E</span>
                            <span id="south">S</span>
                            <span id="west">W</span>
                            <div id="pointer"></div>
                        </div>
                        
                    <% } %>
                </form>
               
            </fieldset>
        </div>
    
    
    
    </body>

</html>